<section class="slider">
    <div class="_container slider-slides">
        <div class="owl-carousel owl-theme">
            <div class="item" data-hash="slide-1">
                <div class="slide__description">
                    <div class="card bg-light mb-3" style="max-width: 18rem;">
                        <div class="card-header">Заголовок 1</div>
                        <div class="card-body">
                            <h5 class="card-title">Заголовок - описание 1 </h5>
                            <p class="card-text">Краткое описание</p>
                            <div class="slide__description_link">
                                <a href="#" class="btn btn-secondary">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide__image">
                    <img src="img/Slides/01_01.JPG" alt="" title="">
                </div>
            </div>
            <div class="item" data-hash="slide-2">
                <div class="slide__description">
                    <div class="card bg-light mb-3" style="max-width: 18rem;">
                        <div class="card-header">Заголовок 2</div>
                        <div class="card-body">
                            <h5 class="card-title">Заголовок - описание 2</h5>
                            <p class="card-text">Краткое описание</p>
                            <div class="slide__description_link">
                                <a href="#" class="btn btn-secondary">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide__image">
                    <img src="img/Slides/01_05.jpg" alt="" title="">
                </div>
            </div>
            <div class="item" data-hash="slide-3">
                <div class="slide__description">
                    <div class="card bg-light mb-3" style="max-width: 18rem;">
                        <div class="card-header">Заголовок 3</div>
                        <div class="card-body">
                            <h5 class="card-title">Заголовок - описание 3</h5>
                            <p class="card-text">Краткое описание</p>
                            <div class="slide__description_link">
                                <a href="#" class="btn btn-secondary">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide__image">
                    <img src="img/Slides/01_09.jpg" alt="" title="">
                </div>
            </div>
            <div class="item" data-hash="slide-4">
                <div class="slide__description">
                    <div class="card bg-light mb-3" style="max-width: 18rem;">
                        <div class="card-header">Заголовок 4</div>
                        <div class="card-body">
                            <h5 class="card-title">Заголовок - описание 4</h5>
                            <p class="card-text">Краткое описание</p>
                            <div class="slide__description_link">
                                <a href="#" class="btn btn-secondary">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide__image">
                    <img src="img/Slides/01_17.jpg" alt="" title="">
                </div>
            </div>
        </div>
    </div>

    <div class="container slider__teaser">
        <a class="button secondary url" href="#slide-1"><br />ТО и ремонт </a>
        <a class="button secondary url" href="#slide-2">Ремонт рулевого <br />управления</a>
        <a class="button secondary url" href="#slide-3"><br />Шиномонтаж </a>
        <a class="button secondary url" href="#slide-4">Правила <br />СТОА </a>
    </div>

</section>
<!-- Slider -->


<main role="main" class="container padding">
    <p>Компания ГАРАЖ + оказывает все виды технического обслуживания Mercedes-Benz в Москве с 1999 года. Мы выполняем качественный и быстрый ремонт автомобилей Mercedes-Benz с использованием оригинальных комплектующих и в точном соответствии с техническими нормами производителя.
        Компания является официальным партнёром программы МБ РУС - "Независимый специалист".</p>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="header-h1 header-h1-left">
                <h2>Наши преимущества:</h2>
            </div>
            <p>
                • 20 лет практического опыта по ремонту авто марки Mercedes-Benz - от “классики” до последних моделей;
                • квалифицированные автомастера, прошедшие сертификацию у официальных дилеров и имеющие техническое образование;
                • собственный склад автозапчастей и возможность оперативного заказа комплектующих напрямую у производителя;
                • комфортная зона ожидания для клиентов - уютное помещение с удобными диванами, ароматным кофе и горячим шоколадом.

            </p>
            <p>
                Мы не навязываем своим клиентам дополнительные дорогостоящие услуги - стоимость рассчитывается индивидуально и согласуется с клиентом до начала ремонта. Мастера центра ГАРАЖ + всегда помогут найти оптимальное соотношение цены и качества работ в соответствии с пожеланиями и возможностями клиента.
            </p>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="header-h1 header-h1-left">
                <h2>Наши услуги:</h2>
            </div>
            <p>
                • плановое ТО (техническое обслуживание) Mercedes-Benz;
                • компьютерная диагностика и ремонт электроники;
                • устранение неисправностей ходовой части;
                • устранение неисправностей двигателя;
                • устранение неисправностей топливной системы;
                • техобслуживание кондиционеров;
                • ремонт рулевого управления;
                • устранение неисправностей пневмоподвески AirMatic;
                • устранение неисправностей АКПП (автоматической коробки передач);
                • ремонт мостов, редукторов, других агрегатов;
                • покраска, кузовной ремонт;
                • нанесение защитного покрытия, полировка кузова;
                • сход-развал;
                • шиномонтаж;
                • регулировка света фар и ремонт фар;
                • тюнинг и установка дополнительного оборудования;
                • обновление программного обеспечения и SCN - кодирование (прописывание блоков).
            </p>
        </div>
    </div>
</main>

<section class="parallax-window" data-parallax="scroll" data-image-src="img/15_04.jpg">
    <div class="container">
        <div class="row ">
            <div class="col-xs-12 col-md-2"></div>
            <div class="col-xs-12 col-md-8">
                <div class="header-h1 header-h1-left">
                    <h3>Более 12 лет мы обслуживаем автомобили Mercedes-Benz</h3>
                </div>
                <p>Нам доверяют свои машины люди, чьи имена послужили бы рекламой, если бы мы не уважали их право на личную жизнь. </p>

                <div class="header-h1 header-h1-left">
                    <h3>Обеспечить Ваш Mercedes достойным обслуживанием — это бизнес технического центра «ГАРАЖ ПЛЮС».</h3>
                </div>
                <p>Приезжайте к нам и оцените нашу работу — будь то ремонт, сезонное обслуживание или тюнинг.
                    Пока мы работаем, Вы можете отдохнуть на уютном диване за кружкой кофе или горячего шоколада.</p>
            </div>
            <div class="col-xs-12 col-md-2"></div>
        </div>
    </div>
</section>

<div class="container padding">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="header-h1 header-h1-left">
                <h2>О техническом центре «Гараж Плюс»</h2>
            </div>
            <p>В автомобиле Mercedes-Benz, каждая деталь — результат работы профессионалов, стремящихся создать совершенство.
                Чтобы оставаться собой, совершенство требует к себе соответствующее отношение.
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="header-h1 header-h1-left">
                <h2>Mercedes требует особого внимания.</h2>
            </div>
            <p>
                Важно доверять его обслуживание правильным людям, чтобы сохранить превосходные характеристики и надёжность, не нарушив идеальную калибровку деталей.
                Профессионал должен иметь время и все необходимые ресурсы, чтобы сделать свою работу чётко и без компромиссов по качеству.
            </p>
        </div>
    </div>
</div>

<div class="unfooter">

    <div class="container">
        <div class="footer__address">
            <div class="header-h1 header-h1-left white">
                <h2>Нужна консультация?</h2>
                <p>Компания ГАРАЖ + оказывает все виды технического обслуживания Mercedes-Benz в Москве с 1999 года.
                    Мы выполняем качественный и быстрый ремонт автомобилей Mercedes-Benz с использованием оригинальных комплектующих и в точном соответствии с техническими нормами производителя.
                </p>
            </div>
            <div class="row">
                <div class="col-md-4 font-big">
                    <i class="fa fa-phone fa-5x" style="font-size:72px;color:#fff;"></i>
                    <p>+7 (495) 221-84-80</p>
                </div>
                <div class="col-md-4 font-big">
                    <i class="fa fas fa-envelope fa-5x" style="font-size:72px;color:#fff;"></i>
                    <p>master@garageplus.ru</p>
                </div>
                <div class="col-md-4 font-big">
                    <i class="fa fa-address-card fa-5x" style="font-size:72px;color:#fff;"></i>
                    <p>г.Москва, м.Парк Победы<br />
                        ул.Поклонная д.11, стр.1а.<br />
                        Часы работы: ежедневно<br />
                        с 09.30 - 21.30 </p>
                </div>
            </div>
        </div>

        <div class="powermail__container">
            <div class="header-h1 header-h1-left">
                <h2>Отправить сообщение</h2>
            </div>
            <form class="powermail">
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label for="name">Ваше Имя</label>
                        <input type="text" class="form-control" id="name" placeholder="Ваше Иимя" required>

                        <label for="phone">Ваш Телефон</label>
                        <input type="text" class="form-control" id="phone" placeholder="Ваш Телефон">

                        <label for="email">Ваш E-mail</label>
                        <input type="text" class="form-control" id="email" placeholder="Ваш E-mail" required>
                    </div>
                    <div class="form-group col-md-7">
                        <label for="message">Ваше сообщение:</label>
                        <textarea class="form-control" id="message"></textarea>
                        <button class="btn btn-primary powermail__form_submit" type="submit">Отправить сообщение</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>