<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="_container slider-slides">
    <div class="owl-carousel owl-theme">
        <f:for each="{slides}" as="item" key="num">
            <div class="item" data-hash="slide-{num}">
                <div class="slide__description">
                    <div class="card bg-light mb-3" style="max-width: 18rem;">
                        <f:if condition="{item.data.title}">
                            <div class="card-header">{item.data.title}</div>
                        </f:if>
                        <div class="card-body">
                            <f:if condition="{item.data.caption_title}">
                                <h5 class="card-title">{item.data.caption_title}</h5>
                            </f:if>
                            <f:if condition="{item.data.caption_description}">
                                <p class="card-text"><f:format.nl2br>{item.data.caption_description}</f:format.nl2br></p>
                            </f:if>
                            <f:if condition="{item.data.link}">
                                <div class="slide__description_link">
                                    <f:link.typolink parameter="{item.data.link}" class="btn btn-secondary">
                                        <f:translate key="slider.link_more" extensionName="tmpl"/>
                                    </f:link.typolink>
                                </div>
                            </f:if>
                        </div>
                    </div>
                </div>
                <div class="slide__image">
                    <f:image image="{item.images.0}" width="1928c" class="_img-responsive"
                             alt="{item.images.0.properties.alt}" title="{item.images.0.title}" />
                </div>
            </div>
        </f:for>
    </div>
</div>

<div class="container slider__teaser">
    <f:for each="{slides}" as="item" key="num" iteration="iterator">
        <a class="button secondary url" href="#slide-{num}">
            <span class="slider__teaser_num">{iterator.cycle}</span>
            <f:format.nl2br>{item.data.slide_teaser}</f:format.nl2br>
        </a>
    </f:for>
</div>

<f:render partial="Script" arguments="{_all}" />

</html>