<div id="toTop"></div>

<header class="header">
    <div class="container">
        <div class="row">
            <f:cObject typoscriptObjectPath="lib.logo" />
            <div class="col-xs-12 col-md-6">

                <div class="input-group mb-3 col search-box padding-top-10">
                    <input type="text" class="form-control" placeholder="Поиск по сайту" aria-label="Поиск по сайту" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">Искать</button>
                    </div>
                </div>

                <div class="row header__contacts">
                    <div class="header__phone col-xs-12 col-sm-6">
                        <a href="tel:+74952218480">+7 (495) 221-84-80</a>
                    </div>
                    <div class="header__email col-xs-12 col-sm-6">
                        <a href="mailto:master@garageplus.ru">master@garageplus.ru</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-2">
                <div class="col padding-top-10 feedback-button">
                    <button class="btn btn-info" data-toggle="modal" data-target="#exampleModalScrollable">
                        Сообщение
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>