<div class="outsie-navbar">
    <div class="container">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light rounded mb-4">
            <a class="navbar-brand" href="#">Главная</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <!-- Left nav -->
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="#">О Нас</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Акции</a></li>
                    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#">Услуги сервиса</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">ТО и ремонт</a></li>
                            <li><a class="dropdown-item _disabled" href="#">Ремонт рулевого управления</a></li>
                            <li><a class="dropdown-item" href="#">Шиномонтаж</a></li>
                            <li><a class="dropdown-item" href="#">Правила СТОА</a></li>
                        </ul>

                    <li><a class="nav-link" href="#">Записаться на ТО или Ремонт</a></li>
                    <li><a class="nav-link" href="#">Тюнинг</a></li>
                    <li><a class="nav-link" href="#">Наши работы</a></li>
                    <li><a class="nav-link" href="#">Отзывы клиентов</a></li>
                    <li><a class="nav-link" href="#">Контакты</a></li>
                </ul>

            </div>
        </nav>
        <!-- Navbar -->
    </div>
</div>